<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>GuestBook</servlet-name>
		<servlet-class>guestbookjpa.GuestBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GuestBook</servlet-name>
		<url-pattern>/guestbook</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SignGuestBook</servlet-name>
		<servlet-class>guestbookjpa.SignGuestBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignGuestBook</servlet-name>
		<url-pattern>/sign</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>SignGuestBookA</servlet-name>
		<servlet-class>guestbookjpa.SignGuestBookAServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignGuestBookA</servlet-name>
		<url-pattern>/signa</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>RedServlet</servlet-name>
		<servlet-class>guestbookjpa.GuestBookServlet</servlet-class>
		<init-param>
			<param-name>teamColor</param-name>
			<param-value>red</param-value>
		</init-param>
		<init-param>
			<param-name>bgColor</param-name>
			<param-value>#CC0000</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>RedServlet</servlet-name>
		<url-pattern>/red/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BlueServlet</servlet-name>
		<servlet-class>guestbookjpa.GuestBookServlet</servlet-class>
		<init-param>
			<param-name>teamColor</param-name>
			<param-value>blue</param-value>
		</init-param>
		<init-param>
			<param-name>bgColor</param-name>
			<param-value>#0000CC</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlueServlet</servlet-name>
		<url-pattern>/blue/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SecuredServlet</servlet-name>
		<servlet-class>guestbookjpa.GuestBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SecuredServlet</servlet-name>
		<url-pattern>/profile/*</url-pattern>
	</servlet-mapping>
	
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/profile/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	
	<filter>
		<filter-name>logColor</filter-name>
		<filter-class>guestbookjpa.LogFilterImpl</filter-class>
		<init-param>
			<param-name>logType</param-name>
			<param-value>color</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>logColor</filter-name>
		<url-pattern>/red/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>logColor</filter-name>
		<url-pattern>/blue/*</url-pattern>
	</filter-mapping>
	
	
	<filter>
		<filter-name>NamespaceFilter</filter-name>
		<filter-class>guestbookjpa.NameSpaceFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>NamespaceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>guestbookjpa.upload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServeServlet</servlet-name>
		<servlet-class>guestbookjpa.ServeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServeServlet</servlet-name>
		<url-pattern>/serve</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>CreateChannelServlet</servlet-name>
		<servlet-class>guestbookjpa.CreateChannelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateChannelServlet</servlet-name>
		<url-pattern>/createchannel</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ChannelServlet</servlet-name>
		<servlet-class>guestbookjpa.ChannelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChannelServlet</servlet-name>
		<url-pattern>/channel</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateTaskServlet</servlet-name>
		<servlet-class>guestbookjpa.task.CreateTaskServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateTaskServlet</servlet-name>
		<url-pattern>/createtask</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SignupSubscribeServlet</servlet-name>
		<servlet-class>guestbookjpa.task.SignupSubscriberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignupSubscribeServlet</servlet-name>
		<url-pattern>/signupsubscriber</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
